<div layout="column" id="about">
  <div layout="row" layout-align="center center" flex>
    <div><pre>
      This AngularJS-application was ported from an Angular 2.0 application. 
      This Angular-2.0-application was written by my collegue Philipp.
      The AngularJS-application was intended as a training example, 
      in order to use AngularJS-components.
      In a next step, this application will be used as basis for another training example 
      in order to port an AngularJS-App to an Angular-App.
    </pre></div>
  </div>
</div>