<div layout="column" id="about">
  <!-- <div layout="row" layout-align="center center" flex> -->
    <div>This application was ported from an Angular 2.0 application.</div>
    <div>This angular 2.0 application was written by my colle gue Philipp.</div>
    <div>This application was intended as a training example in order to use AngularJS-components.</div>
    <div>In a next step, this application will be used as basis for another training example in order to port an AngularJS-App to an Angular-App.</div>
    <!-- </div> -->
</div>